#greensauce {
  .center {
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
  }
  header {
    .grid {
      grid-template-columns: 1fr max-content 1fr;
      justify-content: center;
      .container2 {
        grid-template-columns: max-content 100px max-content;
        align-content: center;
        align-items: center;
        justify-self: center;
        .btn-lg-white {
          font-weight: 600;
        }
        .sub3 {
          color: #00cec9;
          text-transform: uppercase;
        }
        .sub1 {
          text-transform: uppercase;
        }
        .sub2 {
          padding: 0 24px;
          img {
            max-height: 48px;
          }
        }
      }
    }
  }
  #section1 {
    background-color: #fdfdfd;
    .grid {
      grid-template-columns: 1fr 55%;
      position: relative;
    }
    .container1 {
      padding: 14% 14.5%;
      align-self: center;
      .greentext {
        margin-bottom: 8px;
      }
      .h1-dark {
        margin-bottom: 24px;
        line-height: 54px;
        letter-spacing: 1.33px;
      }
      .redspacer {
        margin-bottom: 24px;
        background-color: #00cec9;
        height: 1px;
        line-height: 1px;
      }
    }
    .container2 {
      background-image: url("./assets/pngs/green.png");
      background-size: cover;
    }
  }
  #section2 {
    background-color: #f4f4f4;
    .grid {
      grid-template-columns: 55% 1fr;
      position: relative;
    }
    .container1 {
      align-self: center;
      .h3-dark-center {
        max-width: 480px;
        margin: 0 auto;
      }
    }
    .container2 {
      background-color: #191919;
    }
  }
  #section3 {
    background-color: #f4f4f4;
    .grid {
      grid-template-columns: 1fr 55%;
      position: relative;
    }
    .container2 {
      align-self: center;
      .h3-dark-center {
        max-width: 480px;
        margin: 0 auto;
      }
    }
    .container1 {
      background-color: #191919;
    }
  }
  #section4 {
    background-color: #f4f4f4;
    .grid {
      grid-template-columns: 55% 1fr;
      position: relative;
    }
    .container1 {
      align-self: center;
      .h3-dark-center {
        max-width: 480px;
        margin: 0 auto;
      }
    }
    .container2 {
      background-color: #191919;
    }
  }
  #section5 {
    background-color: #f4f4f4;
    .grid {
      grid-template-columns: 1fr 55%;
      position: relative;
    }
    .container2 {
      align-self: center;
      .h3-dark-center {
        max-width: 480px;
        margin: 0 auto;
      }
    }
    .container1 {
      background-color: #191919;
    }
  }
  #section6 {
    .grid {
      .container1 {
        .sub1 {
          padding: 128px 25.7% 48px 25.7%;
          .h3-dark {
            padding-bottom: 24px;
          }
          .h4-dark {
            padding-bottom: 16px;
          }
          #p-dark {
            padding-bottom: 48px;
          }
        }
        .sub2 {
          padding: 0 25.7% 128px 25.7%;
          .h4-dark {
            padding-bottom: 16px;
          }
        }
      }
    }
  }
  #section7 {
    background-color: #f4f4f4;
    .grid {
      .container1 {
        padding: 128px 25.7%;
        position: relative;
        .bow {
          position: absolute;
          top: 0;
          left: 0;
          width: 20%;
        }
        .h3-dark {
          margin-bottom: 16px;
        }
      }
    }
  }
  #section8 {
    background-color: #191919;
    .grid {
      grid-template-columns: 55% 1fr;
      position: relative;
    }
    .container1 {
      align-self: center;
      .h3-dark-center {
        max-width: 480px;
        margin: 0 auto;
      }
    }
    .container2 {
      background-color: #191919;
      padding: 24px;
    }
  }
  #section9 {
    background-color: #ffffff;
    padding: 4.4%;
    button {
      border-radius: 1px;
      padding: 0px 24px;
      transition: all 0.1s ease;
      background-color: transparent;
      color: #191919;
      border: 1px solid #191919;
      height: 32px;
      line-height: 32px;
      letter-spacing: 1.33px;
      &:hover {
        background-color: #e6ab17;
        border: 1px solid #e6ab17;
        cursor: pointer;
      }
    }
    .grid {
      .container1 {
        background-color: #f4f4f4;
        padding: 128px 23.3%;
        .h3-dark {
          margin-bottom: 16px;
        }
        .p-dark {
          margin-bottom: 48px;
        }
      }
    }
  }
  .mktoForm {
    .mktoFieldWrap,
    .mktoFormCol {
      width: 100% !important;
    }
    .mktoButton {
      height: 32px !important;
      line-height: 32px !important;
      letter-spacing: 1.33px !important;
      padding: 0 24px !important;

      border-radius: 1px !important;
      background-color: transparent !important;
      border: 1px solid #191919 !important;
      color: #191919 !important;
      transition: all 0.1s ease !important;
      letter-spacing: 1.33px !important;
      &:hover {
        color: #191919 !important;
        background-color: #e6ab17 !important;
        border: 1px solid #e6ab17 !important;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .grid {
      grid-template-columns: 1fr !important;
    }
    header {
      .container1,
      .container2 {
        min-height: auto;
      }
      .container2 {
        &.grid {
          grid-template-columns: 1fr !important;
          grid-template-rows: 1fr !important;
          text-align: center;
          padding: 0 10px 24px 10px;
        }
        .sub2 {
          justify-self: center;
          grid-row-start: 2;
        }
        .sub3 {
          grid-column-start: 1;
          grid-row-start: 1;
          padding: 0 27px 16px 27px !important;
        }
        .sub1 {
          display: none;
        }
      }
    }
    .h3-dark-center {
      padding: 0 2%;
    }
    section {
      display: grid;
      margin: 20px 0;
    }
    #section1 {
      margin: 0 !important;
      .container1 {
        margin: 0;
        min-height: auto;
        padding: 48px 2% !important;
      }
      .container2 {
        height: 500px;
      }
    }
    .container1,
    .container2,
    .container3 {
      min-height: 500px;
      display: grid;
      align-content: center;
    }
    #section2 {
      .container1 {
        .h3-dark-center {
          margin: 128px auto;
        }
      }
    }
    #section6 {
      .sub1 {
        padding: 64px 2% 0 2% !important;
      }
      .sub2 {
        padding: 48px 2% 64px 2% !important;
      }
    }
    #section3,
    #section5 {
      .grid {
        grid-template-rows: 1fr 1fr;
        .container1 {
          grid-row-start: 2;
        }
      }
    }
    .mktoForm {
      .mktoFieldWrap {
        width: 100%;
      }
    }
    #section7 {
      .container1 {
        padding: 128px 2% !important;
      }
    }
    #section8 {
      height: auto;
      .container1 {
        padding: 128px 0;
      }
      .container1,
      .container2 {
        min-height: auto;
      }
    }
    #section9 {
      background-color: #f4f4f4;
      .grid {
        .container1 {
          padding: 128px 0;
        }
        .container2 {
          iframe {
            height: 500px;
          }
        }
      }
    }
    label.mktoLabel.mktoHasWidth {
      margin-left: 0 !important;
    }
  }
}
